<%= render :partial => "/newsly/navigation" %>
<div id="content">
	<h2><%= t("Templates")%></h2>
	<ul class="type_tabs">
		<li class="title">Show type:</li>
		<li class="active"><%= link_to "All", templates_url %></li>
		<% @template_types.each do |type| %>
			<li class="<%=type.nil? ? "notype" : type %>">
				<% if type.nil? %>
					<%= link_to "No Type", "#", :data => {:type => "notype"} %>
				<% else %>
					<%= link_to type, "#", :data => {:type => type}%>
				<% end %>
			</li>
		<% end %>
	</ul>
	<table cellspacing="0" cellpadding="0" id="templates">
	  <tbody>
			<% @templates.each do |template| %>
			  <tr class="<%= template.template_type.nil? ? "notype" : template.template_type%>">
			    <td class="title">
			    	<%= link_to template.friendly_name || template.name, template, :class => "friendly_name" %>
			    	<span class="type"><%=t(template.template_type)%></span>
			    	<span class="desc">Lorem ipsum dolor sit amet conseqteur dolor amet.</span>
			    </td>
			  </tr>
			<% end %>
		</tbody>
	</table>
</div>
<div id="sidebar">
</div>

<%= javascript_include_tag "templates" %>