<div id="content">
	<div id="template" data-id="<%=@template.id%>" data-url="<%=template_path(@template)%>">
		<h2 id="subject" class="mercury-region" data-type="markupable"><%= @template.subject.html_safe %></h2>
		<div id="body" class="mercury-region" data-type="editable"><%=	@template.body.html_safe %></div>
	</div>
</div>
<div id="sidebar">
	<ul class="links">
    <li class="buttons">
			<%= link_to "<em>❖</em>Test".html_safe, send_test_template_path(@template), :class => "remote" %>
			<%= link_to "<em>✈</em>Publish".html_safe, publish_template_path(@template), :class => "remote", :id => "publish" %>
		</li>

		<li><%= link_to '<em>☜</em> Back'.html_safe, templates_path %></li>
	</ul>
	<div id="saved"></div>		
</div>

<%= javascript_include_tag "templates" %>