<!DOCTYPE html>
<html>
<head>
  <title>Newsly</title>
  <%= javascript_include_tag "jquery", "rails" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:notice] %>
  <div class="flash">  <%= flash[:notice] %> </div>
  <div class="clearfix"></div>
<% end %>
<div id="flash" class="flash"></div>
<div id="page">	
  <%= yield %>
  <div class="clearfix"></div>
</div>
</body>
</html>